
@{
    ViewData["Title"] = "AccessDenied";
}


<div class="text-center">
<h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
<hr class="my-4" style="margin:auto;width:50%">
<h3 class="text-center w3-animate-right">You dont have permission to view this site.</h3>
<h3 class="text-center w3-animate-zoom">🚫🚫🚫🚫</h3>
<h6 class="text-center w3-animate-zoom">error code:403 forbidden</h6>
</div>

<style>
    body{
background-color: var(--bs-body-bg);
color: white;
}

h1,h6 {
color: var(--bs-red);
}

h6{
text-decoration: underline;
}


</style>